.container {
	margin-top: 50rem;
	text-align: center;
}
.modal-title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}
.wrap-block-1 {
	width: 100%;
}
.wrap-block-2 {	
  width: 100%;
}
