 a:hover,
 a:focus,
 a:activate {
  text-decoration: none
 }
 button:focus,
 input:focus,
 a:focus,
 text-area:focus 
  outline:none
 h1>Заголовок
 h1>Заголовок
 h1>Заголовок
 h1>Заголовок
 h1>Заголовок
 h1>Заголовок				